@import url('https://fonts.googleapis.com/css?family=Oxygen');
@import url('https://fonts.googleapis.com/css?family=Merriweather');

html, body {
    height: 100%;
    background-color:rgb(56, 65, 87);
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
}
.main{
    min-height:100%;
    margin: 0 auto -45px;
}
h1{
    display: inline-block;
    font-size:70px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
}
.top_bar{
    border-bottom: solid 1px white;
    background-color: rgb(1, 4, 63);
}

li{
   list-style-position: inside;
   text-align: center;
   font-size: 15px;
}

.box {
    width: 120px;
    height: 70px;
    padding: 10px 0px;
    border: solid 2px white;
    border-radius: 5px;
    display: inline-block;
    font-size: 30px;
    background-color: rgb(13, 34, 97);
}

.crystal_1 {
    width: 200px;
    height: 200px;
    padding: 30px 0px;
    border: solid 1px rgb(27, 0, 25);
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    background-color: rgb(82, 0, 75);
    box-shadow: 0 15px rgb(27, 0, 25);
    opacity: 0.88;
}
.crystal_2 {
    width: 200px;
    height: 200px;
    padding: 30px 0px;
    border: solid 1px rgb(0, 39, 3);
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    background-color: rgb(0, 85, 6);
    box-shadow: 0 15px rgb(0, 39, 3);
    opacity: 0.88;
}
.crystal_3 {
    width: 200px;
    height: 200px;
    padding: 30px 0px;
    border: solid 1px rgb(31, 31, 31);
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    background-color: rgb(82, 82, 82);
    box-shadow: 0 15px rgb(31, 31, 31);
    opacity: 0.88;
}
.crystal_3a{
    margin: 0px 15px 0px 0px;
}
.crystal_4 {
    width: 200px;
    height: 200px;
    padding: 30px 0px;
    border: solid 1px #363300;
    border-radius: 50%;
    display: inline-block;
    font-size: 30px;
    background-color: #797101;
    box-shadow: 0 15px #363300;
    opacity: 0.88;
}

.crystal_1:hover, .crystal_2:hover, .crystal_3:hover, .crystal_4:hover, .restart:hover {
    opacity: 1;
    cursor: pointer;
}

.crystal_1:active, .crystal_2:active, .crystal_3:active, .crystal_4:active,.restart:active {
    transform: translateY(10px);
}
.crystal_1:active {
    box-shadow: 0 5px rgb(27, 0, 25);
}
.crystal_2:active {
    box-shadow: 0 5px rgb(0, 39, 3);
}
.crystal_3:active{
    box-shadow: 0 5px rgb(31, 31, 31);
}
.crystal_4:active{
    box-shadow: 0 5px #363300;
}
.restart:active{
    box-shadow: 0 5px rgb(32, 0, 0);
}
button:focus{
    outline:none;
}
.diamond {
    margin: -43px 20px 0px;
}

h4{
    font-size: 13px;
}
.space{
    height: 50px;
}
.footer{
    padding: 5px 0px;
    border-top: solid 1px white;
    background-color: rgb(1, 4, 63);
    font-weight: 400;
}

.restart{
    width: 120px;
    height: 70px;
    padding: 10px 0px;
    margin-top: 50px;
    border: solid 1px rgb(20, 0, 0);
    border-radius: 5px;
    opacity: 0.88;
    display: inline-block;
    font-size: 30px;
    background-color: rgb(95, 0, 0);
    box-shadow: 0 15px rgb(32, 0, 0);
}




